# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
expo-env.d.ts

# build
dist/
build/

# local env files
.env
.env.local

# macOS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Google service-account credentials
scripts/serviceAccountKey.json
